@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #262626;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

header {
    width: 50vw;
    height: fit-content;
}

header h1 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
}

.input-side {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: fit-content;
}

.answer-box {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.command-box {
    width: max-content;
    display: flex;
    flex-direction: row;
    background-color: #434343;
    border-radius: 10px;
    padding: 5px 5px;
}

.command-box button {
    background-color: #262626;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    padding: 10px 13px;
}

.command-box input {
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #434343;
    border: 1px solid #434343;
    border-radius: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.command-box input::-webkit-input-placeholder {
    color: #A7A7A7;
}

.answer-box input {
    width: 50%;
    font-size: 16px;
    padding: 15px 15px;
    background-color: #4343437e;
    border: 1px solid #434343;
    border-radius: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    outline: none;
    z-index: 1;
}

.answer-box p {
    color: #fff;
}